SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[scManifest_Data_Load]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[scManifest_Data_Load]
GO

CREATE  procedure dbo.scManifest_Data_Load
As
/*=========================================================
	scManifest_Data_Load
		Parent process responsible for loading account/route data from the import view

    12/31/2003
    robcom

--	$History: /Gazette/Customer Specific/SunMedia/Database/Sprocs/dbo.scManifest_Data_Load.PRC $
-- 
-- ****************** Version 24 ****************** 
-- User: kerry   Date: 2010-02-08   Time: 15:10:02-05:00 
-- Updated in: /Gazette/Customer Specific/SunMedia/Database/Sprocs 
-- 
-- ****************** Version 23 ****************** 
-- User: kerry   Date: 2009-10-16   Time: 17:10:22-04:00 
-- Updated in: /Gazette/Customer Specific/SunMedia/Database/Sprocs 
-- Case 11132 - Modify import process to catch split sequence AcctPubs 
-- 
-- ****************** Version 22 ****************** 
-- User: kerry   Date: 2009-09-11   Time: 09:31:13-04:00 
-- Updated in: /Gazette/Customer Specific/SunMedia/Database/Sprocs 
-- Case 10605 - Sun Media Account Mapping 
-- 
-- ****************** Version 20 ****************** 
-- User: kerry   Date: 2009-09-10   Time: 18:29:34-04:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 10254 - scImportPreprocessing is run out of order 
-- 
-- ****************** Version 19 ****************** 
-- User: robcom   Date: 2009-07-06   Time: 08:54:07-07:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 9167 - Import Bulk (rollup) draw 
-- 
-- ****************** Version 18 ****************** 
-- User: robcom   Date: 2009-06-25   Time: 13:02:06-07:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- case 9935 - removed @Delivery arg from scDefaultDraws_Import 
-- 
-- ****************** Version 17 ****************** 
-- User: jpeaslee   Date: 2008-12-07   Time: 13:16:00-08:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 6555 Implement changes to Import Process for new Manifest Management 
-- 
-- ****************** Version 16 ****************** 
-- User: jpeaslee   Date: 2008-10-09   Time: 13:38:37-07:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 6260 
-- 
-- ****************** Version 15 ****************** 
-- User: mmisantone   Date: 2008-06-09   Time: 13:18:57-04:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- 
-- ****************** Version 13 ****************** 
-- User: jpeaslee   Date: 2008-02-14   Time: 10:40:02-08:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 2901 Reconcile PBS vs. Core manifest import stored procedures 
--  
-- ****************** Version 12 ****************** 
-- User: jpeaslee   Date: 2008-02-13   Time: 13:21:12-08:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 369 remove duplicates from import 
-- 
-- ****************** Version 11 ****************** 
-- User: robcom   Date: 2007-08-09   Time: 13:39:42-07:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 401 
-- 
-- ****************** Version 10 ****************** 
-- User: jpeaslee   Date: 2007-07-09   Time: 12:02:36-07:00 
-- Updated in: /Gazette/Database/Scripts/Sprocs 
-- Case 359 
--
	1/11/2005	Inserted a step specific for San Jose to capture account mappings
	
	1/13/2005	Added a step to update the drop sequences
	
	2/25/2005	Added a step to back-fill any missing default draw entries with zeroes
				(this was originally a SJ-specific change that is being rolled into the
				core application)
				
	05/16/2005	robcom -- Modified to utilize the scManifestAccountMove sproc to handle
				situations in which an account has been moved from one manifest to another

	07/07/2005	johnp -- Changed [date] to [rundate] to match column name in table scManifestLoad
				         [rundate] seems to be standard for file generated by PBS

	08/16/2005	Kerry -- Added a preprocessing step.  Data can be filtered during this step.  R1 and R3
				data is combined for import.
	01/16/2006	Kerry --  Modified procedure to use scManifestLoad_View.  All column names should correspond
				in scManifestLoad_View should correspond with the column names in their respective
				tables.
	04/11/2006  johnp -- REQ00054 Billing: support collection routes
	05/31/2006  johnp -- Billing: update draw rates
	08/01/2006	johnp -- CHG00047: Handle draw values in invoice import
	04/30/2007	johnp -- Case 119: Run scImportCleanup if it exists
	06/05/2008	Reffner	Case 4128 Rollup Overhaul
==========================================================*/
begin
SET NOCOUNT ON


    declare @msg        nvarchar(512)
    declare @cnt		int
    declare @ret        int             -- return code from sprocs
	declare @date		datetime
	declare @datestring	varchar(400)
	declare @deliveryType int

	declare @tracetime as datetime
		
    Set @msg = 'scManifest_Data_Load starting...'
    print @msg
    exec nsSystemLog_Insert 2, 0, @msg

	
--
--  Filter out any records you don't want to import here.
--  For PBS, this combines R1 and R3 type record.

	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[scImportPreprocessing]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	begin
		exec scImportPreprocessing
	end

	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''

    -- Make sure there is data to import
    if not exists( Select 1 from scManifestLoad_View )
    Begin
        Set @msg = 'warning...No manifest import data was found!  Aborting manifest load'
        print @msg
        exec nsSystemLog_Insert 2,1,@msg
        goto abort
    End

	select @deliveryType = ManifestTypeId from dd_scManifestTypes where ManifestTypeName = 'D'

--
--	First thing is to log our processing dates from the file
--
	set @datestring = ''

    declare @ddate varchar(20)
    declare ddate_cursor CURSOR for select distinct drawdate from scManifestLoad_View
    Open ddate_cursor
    fetch next from ddate_cursor into @ddate
    while @@fetch_status = 0
    begin
		set @datestring = @datestring + convert(varchar, @ddate, 101 ) + ', '
	    fetch next from ddate_cursor into @ddate
    end
    close ddate_cursor
    deallocate ddate_cursor

	set @msg = N'Processing for ' + left(@datestring, len(@datestring)-1)
	print @msg
	exec nsSystemLog_insert 2, 0, @msg
	print ''

--
--  Account Mapping step would go here (i.e., San Jose Mapping of GEAC accounts)
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SunMediaAccountMap_Insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	begin
	    exec SunMediaAccountMap_Insert
	end
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
--
--  Remove duplicates, customer specific
--
	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[scRemoveImportDuplicates]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	begin
		set @tracetime = getdate()
		print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )
	
	    exec scRemoveImportDuplicates
	
		print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
	end

	
--
--  Split Sequence AcctPubs Cleanup, customer specific
--
	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[scImport_splitAcctPubs_Cleanup]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	begin
		set @tracetime = getdate()
		print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

	    exec scImport_splitAcctPubs_Cleanup

		print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
	end

--
--  load the accounts
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

    set @ret = 1                            -- assume failure
    exec @ret = scAccounts_Import

    if( @ret <> 0 ) GOTO fail               -- specific err msg raised by scImport_Drops
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''

--
--  load the Rollups
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

    set @ret = 1                            -- assume failure
    exec @ret = scRollups_Import

    if( @ret <> 0 ) GOTO fail               -- specific err msg raised by scRollups_Import
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''


--
--  load the accounts/pubs
--
	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[scAccountsPubs_Import]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	begin
		set @tracetime = getdate()
		print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

		set @ret = 1                            -- assume failure
		exec @ret = scAccountsPubs_Import

		if( @ret <> 0 ) GOTO fail               -- specific err msg raised by scAccountsPubs_Import
		print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
	end

--
--  Load the draw
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

    set @ret = 1                            -- assume failure
    exec @ret = scDefaultDraws_Import

    if( @ret <> 0 ) GOTO fail               -- specific err msg raised by scImport_Draw
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''

--
--	Case 9167 - Bulk Import process
--	NOTE - This call MUST FOLLOW scDefaultDraws_Import
--
		set @tracetime = getdate()
		print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )


		SET @ret = 1
		EXEC @ret = scBulkDraw_Import
		
		IF( @ret <> 0 ) GOTO fail
		print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''


--
--  Fill in "missing" default draws with a zero draw record
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

    exec scDefaultDraws_Fill
    if( @@error <> 0 ) GOTO fail
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
--
--  load the manifest data
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

    set @ret = 1                            -- assume a failure
    exec @ret = scManifests_Import @deliveryType

    if( @ret <> 0 ) GOTO fail               -- specific err msg raised by scManifests_Import
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
--
-- See if any accounts have moved to a different manifest
--
	set @tracetime = getdate()
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''

	set @ret = 1
	exec @ret = scManifestAccountMove @manifestType=@deliveryType, @logDetails=1
	if( @ret <> 0 ) goto fail
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
--
-- associate the accounts to the mfsts
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

	set @ret = 1
	exec @ret = scManifestsAccounts_Import @deliveryType
	if( @ret <> 0 ) goto fail
	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''

--
--  update drop sequences.  Used to override Syncronex routing. If Seq # comes to us from
--  import file, we want to ensure we use that seq and not the auto-generated seq.
--
	set @tracetime = getdate()
	print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

    exec scDropSequence_UPDATE @deliveryType

	print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
--
--  All data is loaded at this point, time to cleanup (customer specific)
	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[scImportCleanup]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	begin
		set @tracetime = getdate()
		print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

	    exec scImportCleanup

		print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
	end

    -- Comment this line for debugging/troubleshooting. This will leave the cache populated with the 'last'
    -- import data
    --
    
    --delete [dbo].[scmanifestLoad]

    if( @@Error <> 0 )
    Begin
        set @msg = 'Error ' + CAST(@@error as varchar(12)) + ' during cleanup while attempting to delete scManifestLoad data'
        print @msg
        exec nsSystemLog_Insert 2, 2, @msg
        goto fail
    End

	if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[syncIndexMaintenance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	begin
		set @tracetime = getdate()
		print 'TRACE START : ' + convert( nvarchar, getdate(), 14 )

	    exec syncIndexMaintenance

		print 'TRACE STOP  : ' + convert( nvarchar, getdate(), 14 ) + '.  ' + cast(datediff(s, @tracetime, getdate()) as nvarchar)  + ' seconds elapsed.' print ''
	end


    Set @msg = 'scManifest_Data_Load completed successfully'
    print @msg
    exec nsSystemLog_Insert 2, 0, @msg
    SET NOCOUNT OFF
    return 0

abort:
    set @msg = 'scManifest_Data_Load procedure aborted. No data to import'
    print @msg
    exec nsSystemLog_Insert 2, 0, @msg
    SET NOCOUNT OFF
    return 1

fail:
    set @msg = 'Error in scManifest_Data_Load. Process aborting...'
    print @msg
    exec nsSystemLog_Insert 2, 0, @msg
    SET NOCOUNT OFF
    return 1


end

go
Grant Exec on dbo.scManifest_data_load to nsUser

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

